<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksinfo.blind.alert.mapper.AlertMapper">

<!-- 1.신고이유들을 리턴(모달창에 출력시 사용 -->
<select id="getAlertReasonList" resultType="com.ksinfo.blind.alert.dto.ReportReasonDto"> 
</select>

<!-- 2.신고접수-포스트의 신고시 -->
<select id="setPostReport"  parameterType="com.ksinfo.blind.alert.dto.PostReportDto"> 	
</select>

<!-- 3.신고접수-기업리뷰 신고시 -->
<select id="setReviewReport"  parameterType="com.ksinfo.blind.alert.dto.ReviewReportDto"> 	
</select>

<!-- 4.신고접수-댓글 신고시 -->
<select id="setReplyReport"  parameterType="com.ksinfo.blind.alert.dto.ReplyReportDto"> 	
</select>

</mapper>