<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksinfo.blind.companyIntroduction.mapper.CompanyIntroductionMapper">
    <select id="companyIntro"  parameterType="long" resultType="com.ksinfo.blind.companyIntroduction.dto.CompanyIntroductionDto">
        SELECT
            c1.company_id AS company_id
             ,c1.company_name
             ,c2.business_type_name
             ,c2.business_type_code
             ,c1.company_address
             ,c1.founding_date
             ,c1.workers_count
             ,c1.app_date
             ,c1.company_domain
             ,c1.company_homepage
             ,c1.company_explain
             ,c3.real_all_point
        FROM
            blind.company_mgt as c1
                INNER JOIN
            blind.business_type_mst as c2
            ON
                c1.business_type_code = c2.business_type_code
                INNER JOIN
            (
                SELECT
                    inner_c1.company_id AS company_id
                     ,round(avg(inner_c3.all_point),1) AS real_all_point
                FROM
                    blind.company_mgt as inner_c1
                   ,blind.company_review_mgt as inner_c3
                WHERE
                    inner_c1.company_id = inner_c3.company_id
                  AND inner_c3.verify_flag ='1'
                  AND inner_c3.complete_flag='1'
                  And inner_c3.logical_del_flag='0'
                Group By
                    inner_c1.company_id
            ) c3
            ON
                c1.company_id = c3.company_id
        WHERE
            c1.company_id = #{companyId}

    </select>



    <select id="reviewCount" parameterType="java.lang.Long" resultType="int">
        select
            count(*)
        from
            blind.company_review_mgt
        where
            company_id=#{companyId}
          AND verify_flag ='1'
          AND complete_flag='1'
          And logical_del_flag='0'
    </select>

    <select id="companyAveragePoint" parameterType="java.lang.Long" resultType="com.ksinfo.blind.companyIntroduction.dto.CompanyAverageDto">


        SELECT
            c2.company_id
             ,c2.company_name
             ,round(avg(c1.all_point),1) as real_all_point
             ,round(avg(c1.all_point),0) as all_point
             ,round(avg(c1.career_point),1) as career_point
             ,round(avg(c1.work_life_balance_point),1) as work_life_balance_point
             ,round(avg(c1.career_point),1) as pay_point
             ,round(avg(c1.career_point),1) as company_culture_point
             ,round(avg(c1.head_point),1) as head_point
        FROM
            blind.company_review_mgt as c1,
            blind.company_mgt as c2
        where
            c1.company_id = #{companyId}
          AND
            c2.company_id = c1.company_id
          AND c1.verify_flag ='1'
          AND c1.complete_flag='1'
          And c1.logical_del_flag='0'
        GROUP BY
            c2.company_id,c2.company_name



    </select>

    <select id="oneCompanyReview" parameterType="java.lang.Long" resultType="com.ksinfo.blind.companyReview.dto.CompanyJoinDto">


        select
            c1.company_id
             ,c1.simple_comment
             ,c1.advantages
             ,c1.disadvantages
             ,c2.all_point
             ,c1.rec_create_date
             ,c1.company_review_id
        from

            blind.company_review_mgt c1
                inner join
            (
                select
                    all_point
                     ,company_id
                     ,company_review_id
                from
                    blind.company_review_mgt
                where
                        company_review_id = ( select
                                                  c3.company_review_id
                                              from
                                                  (
                                                      select
                                                          company_review_id
                                                           ,count(helpful) as cnt
                                                      from
                                                          blind.review_recommend_inf
                                                      where
                                                          company_id=#{companyId}
                                                      group by
                                                          company_review_id
                                                      order by
                                                          cnt desc
                                                          fetch first 1 rows only
                                                  ) c3



                    )


            )c2
            on
                c1.company_review_id=c2.company_review_id
    </select>
    <select id="companyReviewList" parameterType="java.lang.Long" resultType="com.ksinfo.blind.companyReview.dto.CompanyJoinDto">

        select
            crma.company_review_id
             ,user_id
             ,company_id
             ,job_group_code
             ,all_point
             ,career_point
             ,work_life_balance_point
             ,pay_point
             ,company_culture_point
             ,head_point
             ,simple_comment
             ,advantages
             ,disadvantages
             ,resign_reason
             ,work_start_date
             ,work_end_date
             ,work_area
             ,verify_flag
             ,complete_flag
             ,rec_create_user_id
             ,rec_create_date
             ,coalesce(crmb.helpfulCount,0) as helpfulCount
        from
            blind.company_review_mgt crma
                left join
            (
                select
                    count(helpful) as helpfulCount
                     ,company_review_id

                from
                    blind.review_recommend_inf

                group by
                    company_review_id
            ) crmb
            on
                crma.company_review_id = crmb.company_review_id


        where
            company_id=#{companyId}
    </select>

    <insert id="helpCount" parameterType="Map" >

        INSERT INTO blind.review_recommend_inf(

               review_recommend_id
               , company_review_id
               , company_id
               , user_id
               , helpful
        )
        VALUES (
                   default
               , #{companyReviewId}
               , #{companyId}
               ,#{userId}
               ,1
               );


    </insert>
</mapper>