<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksinfo.blind.companyReview.mapper.CompanyReviewMapper">
<select id="companySearch" parameterType="String" resultType="com.ksinfo.blind.companyReview.dto.CompanyDto"> 
 SELECT
	company_id
	,user_id
	,company_name
	,business_type_code
	,company_address
	,founding_date
	,workers_count
	,app_date
	,company_domain
	,company_homepage
	,company_explain
	,verify_flag
	,closing_flag
 FROM
  blind.company_mgt
 WHERE 
  company_name like '%' || #{paramString} || '%'
 AND verify_flag = '1'
 AND closing_flag = '0'
 AND logical_del_flag = '0'  
</select>

<select id="companySearchAll" resultType="com.ksinfo.blind.companyReview.dto.CompanyDto"> 
 SELECT
	company_id
	,user_id
	,company_name
	,business_type_code
	,company_address
	,founding_date
	,workers_count
	,app_date
	,company_domain
	,company_homepage
	,company_explain
	,verify_flag
	,closing_flag
 FROM
  blind.company_mgt

</select>
	
	
	
	
<select id="companySearchPopular" resultType="com.ksinfo.blind.companyReview.dto.CompanyMainViewDto">
SELECT	
	c2.company_id
	,c2.company_name
	,round(avg(c1.all_point),0) as all_point
	,round(avg(c1.all_point),1) as real_all_point 
	
FROM
	blind.company_review_mgt as c1,
	blind.company_mgt as c2
WHERE
	c1.company_id = c2.company_id
AND
    c1.verify_flag = '1'
AND  
    c1.complete_flag = '1'
GROUP BY
	c2.company_id,c2.company_name
	
ORDER BY 
	all_point desc
    fetch first 9 rows only
</select>

<insert id="companyReviewJoin" parameterType="com.ksinfo.blind.companyReview.dto.CompanyJoinDto">
insert into
	blind.company_review_mgt(
		company_review_id
		,user_id
		,company_id
		,job_group_code
		,all_point
		,career_point
		,work_life_balance_point
		,pay_point
		,company_culture_point
		,head_point
		,simple_comment
		,advantages
		,disadvantages
		,resign_reason
		,work_start_date
		,work_end_date
		,work_area
		,verify_flag
		,complete_flag
	    , rec_create_user_id
        , rec_create_date
        , rec_update_user_id
        , rec_update_date
        , logical_del_flag
	)values(
		default
		,#{userId}
		,#{companyId}
		,#{jobGroupCode}
		,#{allPoint}
		,#{careerPoint}
		,#{workLifeBalancePoint}
		,#{payPoint}
		,#{companyCulturePoint}
		,#{headPoint}	
		,#{simpleComment}
		,#{advantages}
		,#{disadvantages}
		,#{resignReason}
		,#{workStartDate}
		,#{workEndDate}
		,#{workArea}
		,'0'
		,'0'
	    , 1
        , now()
        , 0
        , now()
        , '0'	
	) 
</insert>


<insert id="sendRequestCompanyRegist"  parameterType="java.util.Map"> 
insert into "blind".company_mgt(
	company_id,   			 --company_id bigint GENERATED ALWAYS AS IDENTITY
	user_id,        	     --, user_id bigint not null
  	company_name,	         --, company_name character varying(50) not null
  	app_date,				 --, app_date date not null
  	company_domain, 		 --, company_domain character varying(50) not null
  	company_homepage,		 --, company_homepage character varying(50) not null
  	company_explain,		 --, company_explain character varying(600) not null
  	verify_flag,			 --, verify_flag character(1) not null
  	closing_flag,			 --, closing_flag character(1) not null
 	rec_create_user_id, 	 --, rec_create_user_id bigint not null
 	rec_create_date,		 --, rec_create_date timestamp not null
 	rec_update_user_id, 	 --, rec_update_user_id bigint not null
 	rec_update_date, 		 --, rec_update_date timestamp not null
	logical_del_flag	     --, logical_del_flag character(1) not null
)values(
	default,	   			 --company_id bigint GENERATED ALWAYS AS IDENTITY
 	#{userid},        		 --, user_id bigint not null                      	 (1)user_id              
 	#{requestCompnayName},   --, company_name character varying(50) not null     (2)company_name
	 now(),					 --, app_date date not null
	#{requestCompnayEmail},  --, company_domain character varying(50) not null   (3)company_domain
	 '',					 --, company_homepage character varying(50) not null
	 '',					 --, company_explain character varying(600) not null
 	0,						 --, verify_flag character(1) not null
 	1,						 --, closing_flag character(1) not null
 	1, 					 --, rec_create_user_id bigint not null
 	now(),					 --, rec_create_date timestamp not null 
 	1,	 					 --, rec_update_user_id bigint not null
 	now(),					 --, rec_update_date timestamp not null
	0	    				 --, logical_del_flag character(1) not null
)
</insert>


</mapper>