<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksinfo.blind.common.mapper.MainMapper">
<select id="topicBestList" resultType="com.ksinfo.blind.common.dto.CommonPostDto"> 
	SELECT 
          pm.post_id as postId
        , bm.board_topic_name as boardTopicname
        , pm.user_id as userId
        , pm.post_title as postTitle
        , pm.post_contents as postContents
        , pm.post_create_date as postCreateDate
		, TRIM(TO_CHAR(pci.post_count, '999,999,999,999')) as postCount
		, TRIM(TO_CHAR(coalesce(count(pri.post_recommend_flag),0), '999,999,999,999')) as recommendCount
		, TRIM(TO_CHAR(coalesce(count(rm.reply_id),0), '999,999,999,999')) as replyCount
    FROM
        blind.post_mgt pm
	INNER JOIN
		blind.user_mgt um
	ON 
		pm.user_id = um.user_id
	INNER JOIN
		blind.board_mgt bm
    ON
        pm.board_id = bm.board_id
	INNER JOIN
		blind.post_count_inf pci
	ON
		pci.post_id = pm.post_id 
	LEFT OUTER JOIN
		blind.post_recommend_inf pri
	ON
		pm.post_id = pri.post_id
	LEFT OUTER JOIN
		blind.reply_mgt rm
	ON
	 	pm.post_id = rm.post_id
	WHERE pm.post_create_date BETWEEN now() + INTERVAL '-3 DAY' AND NOW()
	GROUP BY
	    pm.post_id
        , bm.board_topic_name
        , pm.user_id
        , pm.post_title
        , pm.post_contents
        , pm.post_create_date
		, pci.post_count
	ORDER BY
		pci.post_count DESC
	fetch first 10 rows only
</select>

<select id="topicSubList" resultType="com.ksinfo.blind.common.dto.CommonPostDto"> 
	SELECT 
       coalesce(rank.post_id,0) as postId
       , rank.board_id as boardId
       , rank.board_topic_name as boardTopicname
       , coalesce(rank.post_title, 'ポストが作成されていません。') as postTitle
       , rank.post_create_date as postCreateDate
       , coalesce(pc.count, 0) AS recordCount
       , TRIM(TO_CHAR(rank.post_count, '999,999,999,999,999')) AS postCount
   FROM ( 
       SELECT
          pm.post_id
          , bm.board_id
          , bm.board_topic_name
          , pm.post_title
          , pm.post_create_date
          , pci.post_count
          , RANK() OVER (PARTITION BY pm.board_id ORDER BY pci.post_count DESC) AS rn  
          FROM blind.post_mgt pm
       INNER JOIN
            blind.post_count_inf pci
             ON
            pci.post_id = pm.post_id
       RIGHT JOIN
            blind.board_mgt bm
           ON
           pm.board_id = bm.board_id 
      ) AS rank
   LEFT JOIN 
     (
    SELECT
		board_id,
		count(*) AS count
		FROM blind.post_mgt
		GROUP BY board_id
		) AS pc
    ON
    rank.board_id = pc.board_id
      WHERE rank.rn between 1 and 5
      ORDER BY rank.board_id ASC
</select>
</mapper>