<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksinfo.blind.manage.mapper.ManageReviewMapper">
	<select id="getReviewTotalCount" parameterType="com.ksinfo.blind.manage.dto.ReviewSearchDto" resultType="_int">
		SELECT COUNT(*)
		FROM blind.company_review_mgt AS cr
		<choose>
			<when test="searchTarget eq 'companyName'">
					INNER JOIN blind.company_mgt AS co ON cr.company_id = co.company_id
				<choose>
					<when test="workingFlag eq '0'">
						LEFT JOIN blind.user_mgt AS us
							ON cr.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
						WHERE cr.company_id <![CDATA[<>]]> us.company_id
					</when>
					<when test="workingFlag eq '1'">
						LEFT JOIN blind.user_mgt AS us
							ON cr.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
						WHERE cr.company_id = us.company_id
					</when>
					<otherwise>
						WHERE LOWER(company_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					</otherwise>
				</choose>
						AND cr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'contents'">
				<choose>
					<when test="workingFlag eq '0'">
						LEFT JOIN blind.user_mgt AS us
							ON cr.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
						WHERE cr.company_id <![CDATA[<>]]> us.company_id
					</when>
					<when test="workingFlag eq '1'">
						LEFT JOIN blind.user_mgt AS us
							ON cr.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
						WHERE cr.company_id = us.company_id
					</when>
					<otherwise>
						WHERE (LOWER(simple_comment) LIKE '%' || LOWER(#{searchKeyword}) || '%'
							OR LOWER(resign_reason) LIKE '%' || LOWER(#{searchKeyword}) || '%'
							OR LOWER(work_area) LIKE '%' || LOWER(#{searchKeyword}) || '%'
							OR LOWER(advantages) LIKE '%' || LOWER(#{searchKeyword}) || '%'
							OR LOWER(disadvantages) LIKE '%' || LOWER(#{searchKeyword}) || '%'
						)
					</otherwise>
				</choose>
					AND cr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'jobGroupName'">
					INNER JOIN blind.job_group_mst USING(job_group_code)
				<choose>
					<when test="workingFlag eq '0'">
						LEFT JOIN blind.user_mgt AS us
							ON cr.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
						WHERE cr.company_id <![CDATA[<>]]> us.company_id
					</when>
					<when test="workingFlag eq '1'">
						LEFT JOIN blind.user_mgt AS us
							ON cr.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
						WHERE cr.company_id = us.company_id
					</when>
					<otherwise>
						WHERE LOWER(job_group_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					</otherwise>
				</choose>
					AND cr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'userNickname'">
				LEFT JOIN blind.user_mgt AS us
					ON cr.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
				WHERE LOWER(user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					AND cr.logical_del_flag = '0'
				<choose>
					<when test="workingFlag eq '0'">
						AND cr.company_id <![CDATA[<>]]> us.company_id
					</when>
					<when test="workingFlag eq '1'">
						AND cr.company_id = us.company_id
					</when>
				</choose>
			</when>
			<otherwise>
				WHERE cr.logical_del_flag = '0'
			</otherwise>
		</choose>
		<choose>
			<when test="verifyFlag eq '0'">
				AND complete_flag = '0'
			</when>
			<when test="verifyFlag eq '1'">
				AND cr.verify_flag = '1'
			</when>
			<when test="verifyFlag eq '2'">
				AND cr.verify_flag = '0'
				AND complete_flag = '1'
			</when>
		</choose>;
	</select>

	<select id="getReviewList" parameterType="com.ksinfo.blind.manage.dto.ReviewSearchDto" resultType="com.ksinfo.blind.manage.vo.ReviewVO">
		SELECT
			company_review_id AS companyReviewId,
			cr.verify_flag AS verifyFlag,
			complete_flag AS completeFlag,
			cr.company_id = us.company_id AS workingFlag,
			ROUND(all_point) AS allPoint,
			company_name AS companyName,
			job_group_name AS jobGroupName,
			simple_comment AS simpleComment,
			user_nickname AS userNickname,
			TO_CHAR(cr.rec_create_date, 'YYYY-MM-DD') AS recCreateDate
		FROM blind.company_review_mgt AS cr
			INNER JOIN blind.company_mgt USING(company_id)
			INNER JOIN blind.job_group_mst USING(job_group_code)
			LEFT JOIN blind.user_mgt AS us
				ON cr.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
		WHERE cr.logical_del_flag = '0'
		<choose>
			<when test="searchTarget eq 'companyName'">
				AND LOWER(company_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
			<when test="searchTarget eq 'contents'">
				AND (LOWER(simple_comment) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(resign_reason) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(work_area) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(advantages) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(disadvantages) LIKE '%' || LOWER(#{searchKeyword}) || '%'
				)
			</when>
			<when test="searchTarget eq 'jobGroupName'">
				AND LOWER(job_group_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
			<when test="searchTarget eq 'userNickname'">
				AND LOWER(user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
		</choose>
		<choose>
			<when test="workingFlag eq '0'">
				AND cr.company_id <![CDATA[<>]]> us.company_id
			</when>
			<when test="workingFlag eq '1'">
				AND cr.company_id = us.company_id
			</when>
		</choose>
		<choose>
			<when test="verifyFlag eq '0'">
					AND complete_flag = '0'
				ORDER BY company_review_id
			</when>
			<when test="verifyFlag eq '1'">
					AND cr.verify_flag = '1'
				ORDER BY company_review_id DESC
			</when>
			<when test="verifyFlag eq '2'">
					AND cr.verify_flag = '0'
					AND complete_flag = '1'
				ORDER BY company_review_id DESC
			</when>
			<otherwise>
				ORDER BY company_review_id DESC
			</otherwise>
		</choose>;
	</select>

	<select id="getReview" resultType="com.ksinfo.blind.manage.vo.CompanyReviewVO">
		SELECT
			user_nickname AS userNickname,
			company_name AS companyName,
			job_group_name AS jobGroupName,
			simple_comment AS simpleComment
		FROM blind.company_review_mgt AS cr
			INNER JOIN blind.company_mgt USING(company_id)
			INNER JOIN blind.job_group_mst USING(job_group_code)
			LEFT JOIN blind.user_mgt AS us
				ON cr.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
		WHERE company_review_id = #{companyReviewId}
			AND cr.logical_del_flag = '0'
	</select>

	<update id="verifyReview" parameterType="com.ksinfo.blind.manage.dto.ReviewVerifyDto">
		UPDATE blind.company_review_mgt
		SET complete_flag = #{verifyFlag},
		<choose>
			<when test="verifyFlag eq '1'">
				verify_flag = '1',
			</when>
			<otherwise>
				verify_flag = '0',
			</otherwise>
		</choose>
			reject_reason = #{reason},
			rec_update_user_id = #{userId},
			rec_update_date = NOW()
		WHERE company_review_id IN
		<foreach item="reviewId" collection="reviewIdList" open="(" close=")" separator=",">
			#{reviewId}
		</foreach>;
	</update>
</mapper>