<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksinfo.blind.manage.mapper.CompanyMapper">
	<select id="getTotalRecord" parameterType="com.ksinfo.blind.manage.dto.CompanySearchDto" resultType="_int">
		SELECT COUNT(*)
		FROM blind.company_mgt AS co
		<if test="searchTarget eq 'businessTypeName'">
			INNER JOIN blind.business_type_mst AS bu
				ON co.business_type_code = bu.business_type_code
		</if>
		WHERE co.logical_del_flag = '0'
		<if test="verifyFlag neq '3'">
			AND verify_flag = #{verifyFlag}
		</if>
		<if test="closingFlag neq '2'">
			AND closing_flag = #{closingFlag}
		</if>
		<if test="searchTarget neq null">
			AND LOWER(
			<choose>
				<when test="searchTarget eq 'companyName'">company_name</when>
				<when test="searchTarget eq 'businessTypeName'">business_type_name</when>
				<when test="searchTarget eq 'companyDomain'">company_domain</when>
				<otherwise>company_address</otherwise>
			</choose>
			) LIKE '%' || LOWER(#{searchKeyword}) || '%'
		</if>;
	</select>

	<select id="getCompanyList" parameterType="com.ksinfo.blind.manage.dto.CompanySearchDto" resultType="com.ksinfo.blind.manage.vo.CompanyVO">
		SELECT
			co.company_id AS companyId,
			verify_flag AS verifyFlag,
			closing_flag AS closingFlag,
			company_name AS companyName,
			co.business_type_code AS businessTypeCode,
			company_address AS companyAddress,
			TO_CHAR(founding_date, 'YYYY-MM-DD') AS foundingDate,
			workers_count AS workersCount,
			company_domain AS companyDomain,
			company_homepage AS companyHomepage,
			company_explain AS companyExplain,
			user_nickName AS userNickName,
			TO_CHAR(app_date, 'YYYY-MM-DD') AS appDate
		FROM blind.company_mgt AS co
			INNER JOIN blind.user_mgt AS us
				ON co.user_id = us.user_id
		<if test="searchTarget eq 'businessTypeName'">
			INNER JOIN blind.business_type_mst
				ON co.business_type_code = business_type_mst.business_type_code
		</if>
		WHERE co.logical_del_flag = '0'
		<if test="verifyFlag neq '3'">
			AND verify_flag = #{verifyFlag}
		</if>
		<if test="closingFlag neq '2'">
			AND closing_flag = #{closingFlag}
		</if>
		<if test="searchTarget neq null">
			AND LOWER(
			<choose>
				<when test="searchTarget eq 'companyName'">company_name</when>
				<when test="searchTarget eq 'businessTypeName'">business_type_name</when>
				<when test="searchTarget eq 'companyDomain'">company_domain</when>
				<otherwise>company_address</otherwise>
			</choose>
			) LIKE '%' || LOWER(#{searchKeyword}) || '%'
		</if>
		ORDER BY companyId;
	</select>

	<select id="getBusinessTypeList" resultType="com.ksinfo.blind.manage.vo.BusinessTypeVO">
		SELECT
			business_type_code AS businessTypeCode,
			business_type_name AS businessTypeName
		FROM blind.business_type_mst
		WHERE logical_del_flag = '0'
		ORDER BY business_type_id;
	</select>

	<insert id="applyCompany" parameterType="com.ksinfo.blind.manage.dto.CompanyDto">
		INSERT INTO blind.company_mgt
		VALUES (
			DEFAULT,
			#{userId},
			#{companyName},
			#{businessTypeCode},
			#{companyAddress},
			#{foundingDate},
			#{workersCount},
			now(),
			#{companyDomain},
			#{companyHomepage},
			#{companyExplain},
			#{verifyFlag},
			#{closingFlag},
			#{userId},
			now(),
			#{userId},
			now(),
			'0'
		);
	</insert>

	<update id="updateCompany" parameterType="com.ksinfo.blind.manage.dto.CompanyDto">
		UPDATE blind.company_mgt
		SET
			company_name = #{companyName},
			business_type_code = #{businessTypeCode},
			company_address = #{companyAddress},
			founding_date = #{foundingDate},
			workers_count = #{workersCount},
			company_domain = #{companyDomain},
			company_homepage = #{companyHomepage},
			company_explain = #{companyExplain},
			closing_flag = #{closingFlag},
			rec_update_user_id = #{userId},
			rec_update_date = now()
		WHERE company_id = #{companyId}
			AND logical_del_flag = '0';
	</update>

	<update id="verifyCompany" parameterType="com.ksinfo.blind.manage.dto.CompanyVerifyDto">
		UPDATE blind.company_mgt
		SET
			verify_flag = #{verifyFlag},
			rec_update_user_id = #{userId},
			rec_update_date = now()
		WHERE logical_del_flag = '0'
			AND company_id IN
			<foreach collection="companyIdList" item="companyId" open="(" close=")" separator=",">
				#{companyId}
			</foreach>;
	</update>
</mapper>