<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksinfo.blind.manage.mapper.ReportMapper">
	<select id="getPostReportTotalRecord" parameterType="com.ksinfo.blind.manage.dto.ReportSearchDto" resultType="_int">
		SELECT COUNT(*) FROM blind.post_report_mgt AS pr
		<choose>
			<when test="searchTarget eq 'contents'">
					INNER JOIN blind.post_mgt USING(post_id)
				WHERE (LOWER(post_title) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(post_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
				) AND pr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'name'">
					INNER JOIN blind.post_mgt USING(post_id)
					INNER JOIN blind.board_mgt USING(board_id)
				WHERE LOWER(board_topic_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					AND pr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'reason'">
					INNER JOIN (
						SELECT DISTINCT
							report_reason_code,
							report_reason_contents
						FROM blind.report_reason_mst
					) AS rrm USING(report_reason_code)
				WHERE (LOWER(report_reason_content) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(report_reason_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
				) AND pr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'writer'">
					INNER JOIN blind.post_mgt AS po USING(post_id)
					LEFT JOIN blind.user_mgt AS us
						ON po.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
				WHERE LOWER(user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					AND pr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'reporter'">
					LEFT JOIN blind.user_mgt AS us
						ON pr.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
				WHERE LOWER(user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					AND pr.logical_del_flag = '0'
			</when>
			<otherwise>
				WHERE logical_del_flag = '0'
			</otherwise>
		</choose>
		<if test="completeFlag neq '2'">
			AND complete_flag = #{completeFlag}
			<if test="verifyFlag neq '2'">
				AND verify_flag = #{verifyFlag}
			</if>
		</if>;
	</select>

	<select id="getReplyReportTotalRecord" parameterType="com.ksinfo.blind.manage.dto.ReportSearchDto" resultType="_int">
		SELECT COUNT(*) FROM blind.reply_report_mgt AS rr
		<choose>
			<when test="searchTarget eq 'contents'">
					INNER JOIN blind.reply_mgt USING(reply_id)
				WHERE LOWER(reply_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					AND rr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'name'">
					INNER JOIN blind.reply_mgt USING(reply_id)
					INNER JOIN blind.post_mgt USING(post_id)
					INNER JOIN blind.board_mgt USING(board_id)
				WHERE LOWER(board_topic_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					AND rr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'reason'">
					INNER JOIN (
						SELECT DISTINCT
							report_reason_code,
							report_reason_contents
						FROM blind.report_reason_mst
					) AS rrm USING(report_reason_code)
				WHERE (LOWER(report_reason_content) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(report_reason_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
				) AND rr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'writer'">
					INNER JOIN blind.reply_mgt AS re USING(reply_id)
					LEFT JOIN blind.user_mgt AS us
						ON re.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
				WHERE LOWER(user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					AND rr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'reporter'">
					INNER JOIN blind.user_mgt AS us
						ON rr.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
				WHERE LOWER(user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					AND rr.logical_del_flag = '0'
			</when>
			<otherwise>
				WHERE logical_del_flag = '0'
			</otherwise>
		</choose>
		<if test="completeFlag neq '2'">
			AND complete_flag = #{completeFlag}
			<if test="verifyFlag neq '2'">
				AND verify_flag = #{verifyFlag}
			</if>
		</if>;
	</select>

	<select id="getReviewReportTotalRecord" parameterType="com.ksinfo.blind.manage.dto.ReportSearchDto" resultType="_int">
		SELECT COUNT(*) FROM blind.review_report_mgt AS crr
		<choose>
			<when test="searchTarget eq 'contents'">
					INNER JOIN blind.company_review_mgt USING(company_review_id)
				WHERE (LOWER(simple_comment) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(resign_reason) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(work_area) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(advantages) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(disadvantages) LIKE '%' || LOWER(#{searchKeyword}) || '%'
				) AND crr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'name'">
					INNER JOIN blind.company_review_mgt USING(company_review_id)
					INNER JOIN blind.company_mgt USING(company_id)
				WHERE LOWER(company_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					AND crr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'reason'">
					INNER JOIN (
						SELECT DISTINCT
							report_reason_code,
							report_reason_contents
						FROM blind.report_reason_mst
					) AS rrm USING(report_reason_code)
				WHERE (LOWER(report_reason_content) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(report_reason_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
				) AND crr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'writer'">
					INNER JOIN blind.company_review_mgt AS cr USING(company_review_id)
					LEFT JOIN blind.user_mgt AS us
						ON cr.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
				WHERE LOWER(user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					AND crr.logical_del_flag = '0'
			</when>
			<when test="searchTarget eq 'reporter'">
					LEFT JOIN blind.user_mgt AS us
						ON crr.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
				WHERE LOWER(user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					AND crr.logical_del_flag = '0'
			</when>
			<otherwise>
				WHERE logical_del_flag = '0'
			</otherwise>
		</choose>
		<if test="completeFlag neq '2'">
			AND crr.complete_flag = #{completeFlag}
			<if test="verifyFlag neq '2'">
				AND crr.verify_flag = #{verifyFlag}
			</if>
		</if>;
	</select>

	<select id="getReportTotalRecord" parameterType="com.ksinfo.blind.manage.dto.ReportSearchDto" resultType="_int">
		<choose>
			<when test="searchTarget eq 'contents'">
				SELECT (
					(
						SELECT COUNT(*)
						FROM blind.post_report_mgt AS pr
							INNER JOIN blind.post_mgt USING(post_id)
						WHERE (LOWER(post_title) LIKE '%' || LOWER(#{searchKeyword}) || '%'
							OR LOWER(post_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
						) AND pr.logical_del_flag = '0'
						<if test="completeFlag neq '2'">
							AND complete_flag = #{completeFlag}
							<if test="verifyFlag neq '2'">
								AND verify_flag = #{verifyFlag}
							</if>
						</if>
					) + (
						SELECT COUNT(*)
						FROM blind.reply_report_mgt AS rr
							INNER JOIN blind.reply_mgt USING(reply_id)
						WHERE LOWER(reply_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
							AND rr.logical_del_flag = '0'
						<if test="completeFlag neq '2'">
							AND complete_flag = #{completeFlag}
							<if test="verifyFlag neq '2'">
								AND verify_flag = #{verifyFlag}
							</if>
						</if>
					) + (
						SELECT COUNT(*)
						FROM blind.review_report_mgt AS crr
							INNER JOIN blind.company_review_mgt USING(company_review_id)
						WHERE (LOWER(simple_comment) LIKE '%' || LOWER(#{searchKeyword}) || '%'
							OR LOWER(resign_reason) LIKE '%' || LOWER(#{searchKeyword}) || '%'
							OR LOWER(work_area) LIKE '%' || LOWER(#{searchKeyword}) || '%'
							OR LOWER(advantages) LIKE '%' || LOWER(#{searchKeyword}) || '%'
							OR LOWER(disadvantages) LIKE '%' || LOWER(#{searchKeyword}) || '%'
						) AND crr.logical_del_flag = '0'
						<if test="completeFlag neq '2'">
							AND crr.complete_flag = #{completeFlag}
							<if test="verifyFlag neq '2'">
								AND crr.verify_flag = #{verifyFlag}
							</if>
						</if>
					)
				)
			</when>
			<when test="searchTarget eq 'name'">
				SELECT (
					(
						SELECT COUNT(*)
						FROM (
							SELECT post_id
							FROM blind.post_report_mgt
							WHERE logical_del_flag = '0'
							<if test="completeFlag neq '2'">
								AND complete_flag = #{completeFlag}
								<if test="verifyFlag neq '2'">
									AND verify_flag = #{verifyFlag}
								</if>
							</if>
							UNION ALL
							SELECT post_id
							FROM blind.reply_report_mgt AS rr
								INNER JOIN blind.reply_mgt USING(reply_id)
							WHERE rr.logical_del_flag = '0'
							<if test="completeFlag neq '2'">
								AND complete_flag = #{completeFlag}
								<if test="verifyFlag neq '2'">
									AND verify_flag = #{verifyFlag}
								</if>
							</if>
						) AS reported_post
							INNER JOIN blind.post_mgt USING(post_id)
							INNER JOIN blind.board_mgt USING(board_id)
						WHERE LOWER(board_topic_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					) + (
						SELECT COUNT(*)
						FROM blind.review_report_mgt AS crr
							INNER JOIN blind.company_review_mgt USING(company_review_id)
							INNER JOIN blind.company_mgt USING(company_id)
						WHERE LOWER(company_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
							AND crr.logical_del_flag = '0'
						<if test="completeFlag neq '2'">
							AND crr.complete_flag = #{completeFlag}
							<if test="verifyFlag neq '2'">
								AND crr.verify_flag = #{verifyFlag}
							</if>
						</if>
					)
				)
			</when>
			<when test="searchTarget eq 'reason'">
				SELECT COUNT(*)
				FROM (
					SELECT report_reason_code, report_reason_content
					FROM blind.post_report_mgt
					WHERE logical_del_flag = '0'
					<if test="completeFlag neq '2'">
						AND complete_flag = #{completeFlag}
						<if test="verifyFlag neq '2'">
							AND verify_flag = #{verifyFlag}
						</if>
					</if>
					UNION ALL
					SELECT report_reason_code, report_reason_content
					FROM blind.reply_report_mgt
					WHERE logical_del_flag = '0'
					<if test="completeFlag neq '2'">
						AND complete_flag = #{completeFlag}
						<if test="verifyFlag neq '2'">
							AND verify_flag = #{verifyFlag}
						</if>
					</if>
					UNION ALL
					SELECT report_reason_code, report_reason_content
					FROM blind.review_report_mgt
					WHERE logical_del_flag = '0'
					<if test="completeFlag neq '2'">
						AND complete_flag = #{completeFlag}
						<if test="verifyFlag neq '2'">
							AND verify_flag = #{verifyFlag}
						</if>
					</if>
				) AS reported_reason_code
					INNER JOIN (
						SELECT DISTINCT
							report_reason_code,
							report_reason_contents
						FROM blind.report_reason_mst
					) AS rrm USING(report_reason_code)
				WHERE LOWER(report_reason_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(report_reason_content) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
			<when test="searchTarget eq 'writer'">
				SELECT COUNT(*)
				FROM (
					SELECT po.user_id
					FROM blind.post_report_mgt AS pr
						INNER JOIN blind.post_mgt AS po USING(post_id)
					WHERE pr.logical_del_flag = '0'
					<if test="completeFlag neq '2'">
						AND complete_flag = #{completeFlag}
						<if test="verifyFlag neq '2'">
							AND verify_flag = #{verifyFlag}
						</if>
					</if>
					UNION ALL
					SELECT re.user_id
					FROM blind.reply_report_mgt AS rr
						INNER JOIN blind.reply_mgt AS re USING(reply_id)
					WHERE rr.logical_del_flag = '0'
					<if test="completeFlag neq '2'">
						AND complete_flag = #{completeFlag}
						<if test="verifyFlag neq '2'">
							AND verify_flag = #{verifyFlag}
						</if>
					</if>
					UNION ALL
					SELECT cr.user_id
					FROM blind.review_report_mgt AS crr
						INNER JOIN blind.company_review_mgt AS cr USING(company_review_id)
					WHERE crr.logical_del_flag = '0'
					<if test="completeFlag neq '2'">
						AND crr.complete_flag = #{completeFlag}
						<if test="verifyFlag neq '2'">
							AND crr.verify_flag = #{verifyFlag}
						</if>
					</if>
				) AS writer
					LEFT JOIN blind.user_mgt AS us
						ON writer.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
				WHERE LOWER(user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
			<when test="searchTarget eq 'reporter'">
				SELECT COUNT(*)
				FROM (
					SELECT user_id
					FROM blind.post_report_mgt
					WHERE logical_del_flag = '0'
					<if test="completeFlag neq '2'">
						AND complete_flag = #{completeFlag}
						<if test="verifyFlag neq '2'">
							AND verify_flag = #{verifyFlag}
						</if>
					</if>
					UNION ALL
					SELECT user_id
					FROM blind.reply_report_mgt
					WHERE logical_del_flag = '0'
					<if test="completeFlag neq '2'">
						AND complete_flag = #{completeFlag}
						<if test="verifyFlag neq '2'">
							AND verify_flag = #{verifyFlag}
						</if>
					</if>
					UNION ALL
					SELECT user_id
					FROM blind.review_report_mgt
					WHERE logical_del_flag = '0'
					<if test="completeFlag neq '2'">
						AND complete_flag = #{completeFlag}
						<if test="verifyFlag neq '2'">
							AND verify_flag = #{verifyFlag}
						</if>
					</if>
				) AS reporter
					LEFT JOIN blind.user_mgt AS us
						ON reporter.user_id = us.user_id AND last_generation_flag = '1' AND us.logical_del_flag = '0'
				WHERE LOWER(user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
			<otherwise>
				SELECT (
					(
						SELECT COUNT(*)
						FROM blind.post_report_mgt
						WHERE logical_del_flag = '0'
						<if test="completeFlag neq '2'">
							AND complete_flag = #{completeFlag}
							<if test="verifyFlag neq '2'">
								AND verify_flag = #{verifyFlag}
							</if>
						</if>
					) + (
						SELECT COUNT(*)
						FROM blind.reply_report_mgt
						WHERE logical_del_flag = '0'
						<if test="completeFlag neq '2'">
							AND complete_flag = #{completeFlag}
							<if test="verifyFlag neq '2'">
								AND verify_flag = #{verifyFlag}
							</if>
						</if>
					) + (
						SELECT COUNT(*)
						FROM blind.company_review_mgt
						WHERE logical_del_flag = '0'
						<if test="completeFlag neq '2'">
							AND complete_flag = #{completeFlag}
							<if test="verifyFlag neq '2'">
								AND verify_flag = #{verifyFlag}
							</if>
						</if>
					)
				)
			</otherwise>
		</choose>;
	</select>

	<select id="getPostReportList" parameterType="com.ksinfo.blind.manage.dto.ReportSearchDto" resultType="com.ksinfo.blind.manage.vo.ReportVO">
		SELECT
			'ポスト' AS type,
			post_id AS targetId,
			verify_flag AS verifyFlag,
			complete_flag AS completeFlag,
			board_topic_name AS name,
			report_reason_content AS reportReason,
			report_reason_contents AS reportCodeReason,
			post_title AS contents,
			wus.user_nickname AS writer,
			rus.user_nickname AS reporter,
			TO_CHAR(post_report_date, 'YYYY-MM-DD') AS reportDate
		FROM blind.post_report_mgt AS pr
			INNER JOIN blind.post_mgt AS po USING(post_id)
			INNER JOIN blind.board_mgt USING(board_id)
			INNER JOIN (
				SELECT DISTINCT
					report_reason_code,
					report_reason_contents
				FROM blind.report_reason_mst
			) AS rrm USING (report_reason_code)
			LEFT JOIN blind.user_mgt AS wus
				ON po.user_id = wus.user_id AND wus.last_generation_flag = '1' AND wus.logical_del_flag = '0'
			LEFT JOIN blind.user_mgt AS rus
				ON pr.user_id = rus.user_id AND rus.last_generation_flag = '1' AND rus.logical_del_flag = '0'
		WHERE pr.logical_del_flag = '0'
		<if test="completeFlag neq '2'">
			AND complete_flag = #{completeFlag}
			<if test="verifyFlag neq '2'">
				AND verify_flag = #{verifyFlag}
			</if>
		</if>
		<choose>
			<when test="searchTarget eq 'contents'">
				AND (LOWER(post_title) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(post_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
				)
			</when>
			<when test="searchTarget eq 'name'">
				AND LOWER(board_topic_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
			<when test="searchTarget eq 'reason'">
				AND (LOWER(report_reason_content) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(report_reason_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
				)
			</when>
			<when test="searchTarget eq 'writer'">
				AND LOWER(wus.user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
			<when test="searchTarget eq 'reporter'">
				AND LOWER(rus.user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
		</choose>
		ORDER BY post_report_id
		<if test="completeFlag neq '0'">
			DESC
		</if>;
	</select>

	<select id="getReplyReportList" parameterType="com.ksinfo.blind.manage.dto.ReportSearchDto" resultType="com.ksinfo.blind.manage.vo.ReportVO">
		SELECT
			'コメント' AS type,
			reply_id AS targetId,
			verify_flag AS verifyFlag,
			complete_flag AS completeFlag,
			board_topic_name AS name,
			report_reason_content AS reportReason,
			report_reason_contents AS reportCodeReason,
			reply_contents AS contents,
			wus.user_nickname AS writer,
			rus.user_nickname AS reporter,
			TO_CHAR(reply_report_date, 'YYYY-MM-DD') AS reportDate
		FROM blind.reply_report_mgt AS rr
			INNER JOIN blind.reply_mgt AS re USING(reply_id)
			INNER JOIN blind.post_mgt USING(post_id)
			INNER JOIN blind.board_mgt USING(board_id)
			INNER JOIN (
				SELECT DISTINCT
					report_reason_code,
					report_reason_contents
				FROM blind.report_reason_mst
			) AS rrm USING(report_reason_code)
			INNER JOIN blind.user_mgt AS wus
				ON re.user_id = wus.user_id AND wus.last_generation_flag = '1' AND wus.logical_del_flag = '0'
			INNER JOIN blind.user_mgt AS rus
				ON rr.user_id = rus.user_id AND rus.last_generation_flag = '1' AND rus.logical_del_flag = '0'
		WHERE rr.logical_del_flag = '0'
		<if test="completeFlag neq '2'">
			AND complete_flag = #{completeFlag}
			<if test="verifyFlag neq '2'">
				AND verify_flag = #{verifyFlag}
			</if>
		</if>
		<choose>
			<when test="searchTarget eq 'contents'">
				AND LOWER(reply_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
			<when test="searchTarget eq 'name'">
				AND LOWER(board_topic_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
			<when test="searchTarget eq 'reason'">
				AND (LOWER(report_reason_content) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(report_reason_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
				)
			</when>
			<when test="searchTarget eq 'writer'">
				AND LOWER(wus.user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
			<when test="searchTarget eq 'reporter'">
				AND LOWER(rus.user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
		</choose>
		ORDER BY reply_report_id
		<if test="completeFlag neq '0'">
			DESC
		</if>;
	</select>

	<select id="getReviewReportList" parameterType="com.ksinfo.blind.manage.dto.ReportSearchDto" resultType="com.ksinfo.blind.manage.vo.ReportVO">
		SELECT
			'レビュー' AS type,
			company_review_id AS targetId,
			crr.verify_flag AS verifyFlag,
			crr.complete_flag AS completeFlag,
			company_name AS name,
			report_reason_content AS reportReason,
			report_reason_contents AS reportCodeReason,
			simple_comment AS contents,
			wus.user_nickname AS writer,
			rus.user_nickname AS reporter,
			TO_CHAR(review_report_date, 'YYYY-MM-DD') AS reportDate
		FROM blind.review_report_mgt AS crr
			INNER JOIN blind.company_review_mgt AS cr USING(company_review_id)
			INNER JOIN blind.company_mgt USING(company_id)
			INNER JOIN (
				SELECT DISTINCT
					report_reason_code,
					report_reason_contents
				FROM blind.report_reason_mst
			) AS rrm USING(report_reason_code)
			INNER JOIN blind.user_mgt AS wus
				ON cr.user_id = wus.user_id AND wus.last_generation_flag = '1' AND wus.logical_del_flag = '0'
			INNER JOIN blind.user_mgt AS rus
				ON crr.user_id = rus.user_id AND rus.last_generation_flag = '1' AND rus.logical_del_flag = '0'
		WHERE crr.logical_del_flag = '0'
		<if test="completeFlag neq '2'">
			AND crr.complete_flag = #{completeFlag}
			<if test="verifyFlag neq '2'">
				AND crr.verify_flag = #{verifyFlag}
			</if>
		</if>
		<choose>
			<when test="searchTarget eq 'contents'">
				AND (LOWER(simple_comment) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(resign_reason) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(work_area) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(advantages) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(disadvantages) LIKE '%' || LOWER(#{searchKeyword}) || '%'
				)
			</when>
			<when test="searchTarget eq 'name'">
				AND LOWER(company_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
			<when test="searchTarget eq 'reason'">
				AND (LOWER(report_reason_content) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(report_reason_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
				)
			</when>
			<when test="searchTarget eq 'writer'">
				AND LOWER(wus.user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
			<when test="searchTarget eq 'reporter'">
				AND LOWER(rus.user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
		</choose>
		ORDER BY review_report_id
		<if test="completeFlag neq '0'">
			DESC
		</if>;
	</select>

	<select id="getReportList" parameterType="com.ksinfo.blind.manage.dto.ReportSearchDto" resultType="com.ksinfo.blind.manage.vo.ReportVO">
		SELECT
			type,
			targetId,
			verifyFlag,
			completeFlag,
			name,
			reportReason,
			report_reason_contents AS reportCodeReason,
			contents,
			wus.user_nickname AS writer,
			rus.user_nickname AS reporter,
			TO_CHAR(report_date, 'YYYY-MM-DD') AS reportDate
		FROM (
			SELECT
				type,
				targetId,
				verifyFlag,
				completeFlag,
				board_topic_name AS name,
				reportReason,
				report_reason_code,
				contents,
				writer_id,
				reporter_id,
				report_date
			FROM (
				SELECT
					'ポスト' AS type,
					post_id AS targetId,
					verify_flag AS verifyFlag,
					complete_flag AS completeFlag,
					board_id,
					report_reason_content AS reportReason,
					report_reason_code,
					post_title AS contents,
					po.user_id AS writer_id,
					pr.user_id AS reporter_id,
					post_report_date AS report_date
				FROM blind.post_report_mgt AS pr
					INNER JOIN blind.post_mgt AS po USING(post_id)
				WHERE pr.logical_del_flag = '0'
				<if test="completeFlag neq '2'">
					AND complete_flag = #{completeFlag}
					<if test="verifyFlag neq '2'">
						AND verify_flag = #{verifyFlag}
					</if>
				</if>
				<if test="searchTarget eq 'contents'">
					AND (LOWER(post_title) LIKE '%' || LOWER(#{searchKeyword}) || '%'
						OR LOWER(post_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					)
				</if>
				UNION ALL
				SELECT
					'コメント' AS type,
					reply_id AS targetId,
					verify_flag AS verifyFlag,
					complete_flag AS completeFlag,
					board_id,
					report_reason_content AS reportReason,
					report_reason_code,
					reply_contents AS contents,
					re.user_id AS writer_id,
					rr.user_id AS reporter_id,
					reply_report_date AS report_date
				FROM blind.reply_report_mgt AS rr
					INNER JOIN blind.reply_mgt AS re USING(reply_id)
					INNER JOIN blind.post_mgt USING(post_id)
				WHERE rr.logical_del_flag = '0'
				<if test="completeFlag neq '2'">
					AND complete_flag = #{completeFlag}
					<if test="verifyFlag neq '2'">
						AND verify_flag = #{verifyFlag}
					</if>
				</if>
				<if test="searchTarget eq 'contents'">
					AND LOWER(reply_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
				</if>
			) AS reported_posts_and_replies
				INNER JOIN blind.board_mgt USING(board_id)
			<if test="searchTarget eq 'name'">
				WHERE LOWER(board_topic_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</if>
			UNION ALL
			SELECT
				'レビュー' AS type,
				company_review_id AS targetId,
				crr.verify_flag AS verifyFlag,
				crr.complete_flag AS completeFlag,
				company_name AS name,
				report_reason_content AS reportReason,
				report_reason_code,
				simple_comment AS contents,
				cr.user_id AS writer_id,
				crr.user_id AS reporter_id,
				review_report_date AS report_date
			FROM blind.review_report_mgt AS crr
				INNER JOIN blind.company_review_mgt AS cr USING(company_review_id)
				INNER JOIN blind.company_mgt USING(company_id)
			WHERE crr.logical_del_flag = '0'
			<if test="completeFlag neq '2'">
				AND crr.complete_flag = #{completeFlag}
				<if test="verifyFlag neq '2'">
					AND crr.verify_flag = #{verifyFlag}
				</if>
			</if>
			<choose>
				<when test="searchTarget eq 'contents'">
					AND (LOWER(simple_comment) LIKE '%' || LOWER(#{searchKeyword}) || '%'
						OR LOWER(resign_reason) LIKE '%' || LOWER(#{searchKeyword}) || '%'
						OR LOWER(work_area) LIKE '%' || LOWER(#{searchKeyword}) || '%'
						OR LOWER(advantages) LIKE '%' || LOWER(#{searchKeyword}) || '%'
						OR LOWER(disadvantages) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					)
				</when>
				<when test="searchTarget eq 'name'">
					AND LOWER(company_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
				</when>
			</choose>
		) AS reported
			INNER JOIN (
				SELECT DISTINCT
					report_reason_code,
					report_reason_contents
				FROM blind.report_reason_mst
			) AS rrm USING(report_reason_code)
			LEFT JOIN blind.user_mgt AS wus
				ON writer_id = wus.user_id AND wus.last_generation_flag = '1' AND wus.logical_del_flag = '0'
			LEFT JOIN blind.user_mgt AS rus
				ON reporter_id = rus.user_id AND rus.last_generation_flag = '1' AND rus.logical_del_flag = '0'
		<choose>
			<when test="searchTarget eq 'writer'">
				WHERE LOWER(wus.user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
			<when test="searchTarget eq 'reporter'">
				WHERE LOWER(rus.user_nickname) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
			<when test="searchTarget eq 'reason'">
				WHERE LOWER(reportReason) LIKE '%' || LOWER(#{searchKeyword}) || '%'
					OR LOWER(report_reason_contents) LIKE '%' || LOWER(#{searchKeyword}) || '%'
			</when>
		</choose>
		ORDER BY report_date
		<if test="completeFlag neq '0'">
			DESC
		</if>;
	</select>

	<select id="getReport" resultType="map">
		SELECT
		<choose>
			<when test="type eq '1'">
					post_contents AS contents
				FROM blind.post_mgt
				WHERE post_id
			</when>
			<when test="type eq '2'">
					reply_contents AS contents
				FROM blind.reply_mgt
				WHERE reply_id
			</when>
			<when test="type eq '3'">
					simple_comment AS contents
				FROM blind.company_review_mgt
				WHERE company_review_id
			</when>
		</choose>
		= #{targetId};
	</select>
<!--
CREATE PROCEDURE blind.verify_report(
	login_user_id BIGINT, new_flag CHAR(1), reason VARCHAR(100), target_id BIGINT, type CHAR(1)
) LANGUAGE plpgsql AS $$
	DECLARE
		updated_rows INTEGER;
		now TIMESTAMP := NOW();
	BEGIN
		CASE
			WHEN type = '1' THEN
				UPDATE blind.post_report_mgt
				SET verify_flag = new_flag,
					complete_flag = '1',
					reject_reason = reason,
					rec_update_user_id = login_user_id,
					rec_update_date = now
				WHERE post_id = target_id
					AND complete_flag = '0'
					AND logical_del_flag = '0';
				GET DIAGNOSTICS updated_rows = ROW_COUNT;
				IF new_flag = '1' AND updated_rows > 0 THEN
					UPDATE blind.post_mgt
					SET rec_update_user_id = login_user_id,
						rec_update_date = now,
						logical_del_flag = '1'
					WHERE post_id = target_id
					RETURNING user_id INTO target_id;
					UPDATE blind.user_mgt
					SET reported_count = reported_count + 1,
						rec_update_user_id = login_user_id,
						rec_update_date = now
					WHERE user_id = target_id
						AND last_generation_flag = '1';
				END IF;
			WHEN type = '2' THEN
				UPDATE blind.reply_report_mgt
				SET verify_flag = new_flag,
					complete_flag = '1',
					reject_reason = reason,
					rec_update_user_id = login_user_id,
					rec_update_date = now
				WHERE reply_id = target_id
					AND complete_flag = '0'
					AND logical_del_flag = '0';
				GET DIAGNOSTICS updated_rows = ROW_COUNT;
				IF new_flag = '1' AND updated_rows > 0 THEN
					UPDATE blind.reply_mgt
					SET rec_update_user_id = login_user_id,
						rec_update_date = now,
						logical_del_flag = '1'
					WHERE reply_id = target_id
					RETURNING user_id INTO target_id;
					UPDATE blind.user_mgt
					SET reported_count = reported_count + 1,
						rec_update_user_id = login_user_id,
						rec_update_date = now
					WHERE user_id = target_id
						AND last_generation_flag = '1';
				END IF;
			WHEN type = '3' THEN
				UPDATE blind.review_report_mgt
				SET verify_flag = new_flag,
					complete_flag = '1',
					reject_reason = reason,
					rec_update_user_id = login_user_id,
					rec_update_date = now
				WHERE company_review_id = target_id
					AND complete_flag = '0'
					AND logical_del_flag = '0';
				GET DIAGNOSTICS updated_rows = ROW_COUNT;
				IF new_flag = '1' AND updated_rows > 0 THEN
					UPDATE blind.company_review_mgt
					SET rec_update_user_id = login_user_id,
						rec_update_date = now,
						logical_del_flag = '1'
					WHERE company_review_id = target_id
					RETURNING user_id INTO target_id;
					UPDATE blind.user_mgt
					SET reported_count = reported_count + 1,
						rec_update_user_id = login_user_id,
						rec_update_date = now
					WHERE user_id = target_id
						AND last_generation_flag = '1';
				END IF;
		END CASE;
	END;
$$;
!-->
	<update id="verifyReport" parameterType="com.ksinfo.blind.manage.dto.ReportVerifyDto" statementType="CALLABLE">
		<foreach collection="reportList" item="report" separator=";">
			CALL blind.verify_report(
				#{userId}, #{verifyFlag}, #{reason}, #{report.targetId}, #{report.type}
			)
		</foreach>;
	</update>
</mapper>