<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksinfo.blind.common.mapper.MemberMapper">
<select id="findMemberByEmail" parameterType="String" resultType="com.ksinfo.blind.security.Account"> 
	SELECT
		user_id
		, user_generation
		, last_generation_flag
		, user_password
		, user_email
		, user_nickname
		, nickname_change_date
		, company_id
		, user_auth
		, reported_count
	FROM
		blind.user_mgt
	WHERE
		user_email = #{userEmail}
		AND last_generation_flag = '1'
		AND logical_del_flag = '0'
</select>
<insert id="registNewMember" parameterType="java.util.Map">
	INSERT
	INTO blind.user_mgt(
		user_id
		, user_generation
		, last_generation_flag
		, user_password
		, user_email
		, user_nickname
		, nickname_change_date
		, company_id
		, user_auth
		, reported_count
		, rec_create_user_id
		, rec_create_date
		, rec_update_user_id
		, rec_update_date
		, logical_del_flag
	)
	VALUES (
		default
		, 1
		, '1'
		, #{password}
		, #{username}
		, #{userNickname}
		, now()
		, null
		, #{auth}
		, 0
		, 1
		, now()
		, 0
		, now()
		, '0'
	);
</insert>
</mapper>