<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksinfo.blind.mytask.mapper.MyTaskMapper">
	<select id="companyreviewList" parameterType="long" resultType="com.ksinfo.blind.mytask.dto.MyTaskDto">

		SELECT
			sum(count(distinct crm.company_review_id)) over() as companyReviewCount
		     ,crm.company_review_id as companyReviewId
			 ,cm.company_name as companyName
			 ,crm.verify_flag as verifyFlag
			 ,crm.complete_flag as completeFlag
			 ,to_char(crm.rec_create_date,'YYYY.MM.DD') as reviewCreateDate
			 ,crm.rec_create_date as order_createDate
		FROM blind.company_review_mgt crm

				 INNER JOIN
			 blind.company_mgt cm
			 ON
				 cm.company_id = crm.company_id
		WHERE
			crm.user_id = #{userId}
		  AND
			crm.logical_del_flag = '0'
		GROUP BY
			crm.company_review_id
				,cm.company_name
			   ,crm.verify_flag
			   ,crm.complete_flag
			   ,crm.rec_create_date
		ORDER BY
			crm.rec_create_date DESC


	</select>

	<select id="reportList" parameterType="long" resultType="com.ksinfo.blind.mytask.dto.MyTaskDto">
		SELECT
			sum(count(distinct prrm.postTitle)) over() as reportCount
			 ,prrm.reportType as reportType
		     ,prrm.userNickName as userNickName
			 ,prrm.boardTopicName as boardTopicName
			 ,prrm.postTitle as postTitle
			 ,prrm.companyName as companyName
			 ,prrm.jobGroupName as jobGroupName
			 ,prrm.verifyFlag as verifyFlag
			 ,prrm.completeFlag as completeFlag
			 ,prrm.createDate as createDate
			 ,prrm.order_createDate as order_createDate
		from
			(SELECT
				 1 as reportType
				  ,um.user_nickName as userNickName
				  ,bm.board_topic_name as boardTopicName
				  ,pm.post_title as postTitle
				  ,coalesce(cm_name.company_name,'会社名無し') as companyName
				  ,null as jobGroupName
				  ,prm.verify_flag as verifyFlag
				  ,prm.complete_flag as completeFlag
				  ,to_char(prm.post_report_date,'YYYY.MM.DD') as createDate
				  ,prm.post_report_date as order_createDate
			 FROM
				 blind.user_mgt um
					 INNER JOIN
				 blind.post_mgt pm
				 ON
					 pm.user_id = um.user_id
					 INNER JOIN
				 blind.board_mgt bm
				 ON
					 pm.board_id = bm.board_id
					 INNER JOIN
				 blind.post_report_mgt prm
				 ON
					 pm.post_id = prm.post_id
					 INNER JOIN
				 (
					 SELECT
						 inner_um.user_id AS user_id
						  ,inner_cm.company_name AS company_name
					 FROM
						 blind.user_mgt inner_um
							 LEFT JOIN
						 blind.company_mgt inner_cm
						 ON
							 inner_cm.company_id = inner_um.company_id
					 WHERE
						 inner_um.last_generation_flag = '1'
					   AND
						 inner_um.logical_del_flag = '0'
				 ) cm_name
				 ON
					 prm.user_id = cm_name.user_id
			 WHERE
				 prm.user_id = #{userId}
			 UNION ALL
			 SELECT
				 2 as reportType
				  ,um.user_nickName as userNickName
				  ,null as boardTopicName
				  ,crm.simple_comment as postTitle
				  ,null as companyName
				  ,jgm.job_group_name as jobGroupName
				  ,rrm.verify_flag as verifyFlag
				  ,rrm.complete_flag as completeFlag
				  ,to_char(rrm.rec_create_date,'YYYY.MM.DD') as createDate
				  ,rrm.rec_create_date as order_createDate
			 FROM
				 blind.company_review_mgt crm
					 INNER JOIN
				 blind.user_mgt um
				 ON
					 crm.user_id = um.user_id
					 INNER JOIN
				 blind.review_report_mgt rrm
				 ON
					 crm.company_review_id = rrm.company_review_id
					 LEFT OUTER JOIN
				 blind.job_group_mst jgm
				 ON
					 jgm.job_group_code = crm.job_group_code
			 WHERE
				 rrm.user_id = #{userId}
				) as prrm
		GROUP BY
			prrm.reportType
			   ,prrm.userNickName
			   ,prrm.boardTopicName
			   ,prrm.postTitle
			   ,prrm.companyName
			   ,prrm.jobGroupName
			   ,prrm.verifyFlag
			   ,prrm.completeFlag
			   ,prrm.createDate
			   ,prrm.order_createDate
		ORDER BY prrm.order_createdate desc


	</select>
</mapper>