<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksinfo.blind.mytask.mapper.MyTopicMapper">
<select id="mytopicList" parameterType="long" resultType="com.ksinfo.blind.mytask.dto.MyTopicDto"> 
   SELECT 
      1 as mytopicType 
        ,um.user_nickName as userNickName
        ,coalesce(cm.company_name,'会社名無し') as companyName
        ,pm.post_title as postTitle
        ,bm.board_topic_name as boardTopicname
        ,to_char(pm.post_create_date,'YYYY.MM.DD') as createDate
		,pm.post_create_date as order_createDate
        ,-1 as reportedCount
        ,null as postReportNickName
      FROM
         blind.user_mgt um
      INNER JOIN
         blind.post_mgt pm
      ON
         um.user_id = pm.user_id
	  AND
	     um.last_generation_flag = '1'
	  AND 
	     um.logical_del_flag = '0'			 
      INNER JOIN
         blind.board_mgt bm
      ON
         pm.board_id = bm.board_id
      INNER JOIN
         blind.company_mgt cm
      ON
         um.company_id = cm.company_id
	  AND
	     um.last_generation_flag = '1'
	  AND 
	     um.logical_del_flag = '0'		         
      WHERE 
         um.user_id = #{userId}
UNION ALL
   SELECT 
      2 as mytopicType
        ,(select um.user_nickName from blind.user_mgt um where um.user_id = rm.user_id	AND um.last_generation_flag = '1' AND um.logical_del_flag = '0') as userNickName
        ,coalesce(cm_name.company_name,'会社名無し') as companyName
        ,pm.post_title as postTitle
        ,null as boardTopicname
        ,to_char(rm.rec_create_date, 'YYYY.MM.DD') as createDate
		,rm.rec_create_date as order_createDate
        ,-1 as reportedCount
        ,null as postReportNickName
      FROM
         blind.user_mgt um
      INNER JOIN
         blind.post_mgt pm
      ON
         um.user_id = pm.user_id
      INNER JOIN
         blind.board_mgt bm
      ON
         pm.board_id = bm.board_id
      INNER JOIN
         blind.reply_mgt rm
      ON
         pm.post_id = rm.post_id
	  INNER JOIN
	     (
		  SELECT
		    inner_um.user_id AS user_id
		    ,inner_cm.company_name AS company_name
		  FROM
		    blind.user_mgt inner_um
		  LEFT JOIN
		    blind.company_mgt inner_cm
		  ON
		    inner_cm.company_id = inner_um.company_id
	      WHERE
	        inner_um.last_generation_flag = '1'
	      AND 
	        inner_um.logical_del_flag = '0'			    
		 ) cm_name
	  ON
	     rm.user_id = cm_name.user_id
      WHERE
      um.user_id = #{userId}
UNION ALL
   SELECT
   		3 as mytopicType
		,(select um.user_nickName from blind.user_mgt um where um.user_id = pri.user_id	AND um.last_generation_flag = '1' AND um.logical_del_flag = '0') as userNickName
        ,coalesce(cm_name.company_name,'会社名無し') as companyName
        ,pm.post_title as postTitle
        ,null as boardTopicname
        ,to_char(pri.post_recommend_date,'YYYY.MM.DD') as createDate
		,pri.post_recommend_date as order_createDate
        ,-1 as reportedCount
        ,null as postReportNickName
	FROM
		blind.user_mgt um
	INNER JOIN
		blind.post_mgt pm
	ON
		pm.user_id = um.user_id
	AND
	    um.last_generation_flag = '1'
	AND 
	    um.logical_del_flag = '0'			
	INNER JOIN
		blind.post_recommend_inf pri
	ON
		pm.post_id = pri.post_id
	INNER JOIN
	    (
	    SELECT
		  inner_um.user_id AS user_id
		  ,inner_cm.company_name AS company_name
		FROM
		  blind.user_mgt inner_um
		LEFT JOIN
		  blind.company_mgt inner_cm
		ON
		  inner_cm.company_id = inner_um.company_id
        WHERE
          inner_um.last_generation_flag = '1'
        AND 
          inner_um.logical_del_flag = '0'				  
	    ) cm_name
	ON
	  pri.user_id = cm_name.user_id		
	WHERE
	  um.user_id = #{userId}

UNION ALL
	SELECT
   		4 as mytopicType
		,(select um.user_nickName from blind.user_mgt um where um.user_id = prm.user_id	AND um.last_generation_flag = '1' AND um.logical_del_flag = '0') as userNickName
        ,coalesce(cm_name.company_name,'会社名無し') as companyName
        ,pm.post_title as postTitle
        ,null as boardTopicname
        ,to_char(prm.post_report_date,'YYYY.MM.DD') as createDate
		,prm.post_report_date as order_createDate
        ,(select count (*) from blind.post_report_mgt prm WHERE prm.verify_flag = '1' AND prm.complete_flag = '1') as reportedCount
        ,um.user_nickName as postReportNickName
	FROM
		blind.user_mgt um
	INNER JOIN
		blind.post_mgt pm
	ON
		pm.user_id = um.user_id
	INNER JOIN
		blind.post_report_mgt prm
	ON
		pm.post_id = prm.post_id
	AND prm.verify_flag = '1'	
	INNER JOIN
	    (
	    SELECT
		  inner_um.user_id AS user_id
		  ,inner_cm.company_name AS company_name
		FROM
		  blind.user_mgt inner_um
		LEFT JOIN
		  blind.company_mgt inner_cm
		ON
		  inner_cm.company_id = inner_um.company_id
        WHERE
          inner_um.last_generation_flag = '1'
        AND 
          inner_um.logical_del_flag = '0'		  
	    ) cm_name
	ON
	  prm.user_id = cm_name.user_id		
	WHERE
		um.user_id = #{userId}
		
order by order_createdate desc

</select>
</mapper>