<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksinfo.blind.search.mapper.SearchMapper">
<select id="getBoard_topic_name_test" resultType="com.ksinfo.blind.search.dto.SearchDto"> 
    SELECT board_topic_name FROM blind.board_mgt; 
</select>
</mapper>