<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksinfo.blind.company.mapper.CompanyAnnualIncomeMapper">
	<select id="getJobGroupListInCompany" resultType="com.ksinfo.blind.company.vo.CompanyJobGroupVO">
		SELECT job_group_code AS jobGroupCode,
			job_group_name AS jobGroupName,
			EXISTS(
				SELECT
				FROM blind.salary_rank_mgt AS sa
					INNER JOIN blind.user_mgt AS us USING(user_id)
				WHERE job_group_code = jo.job_group_code
					AND us.company_id = #{companyId}
					AND us.last_generation_flag = '1'
					AND sa.logical_del_flag = '0'
					AND us.logical_del_flag = '0'
			) AS exist
		FROM blind.job_group_mst AS jo
		WHERE logical_del_flag = '0'
	</select>

	<select id="getAnnualIncome" parameterType="com.ksinfo.blind.company.dto.CompanyAnnualIncomeSearchDto"
			resultType="com.ksinfo.blind.company.vo.CompanyAnnualIncomeVO">
		SELECT MIN(salary) AS minAnnualIncome,
			ROUND(AVG(salary), 0) AS avgAnnualIncome,
			MAX("blind".salary_rank_mgt.salary) AS maxAnnualIncome
		FROM blind.salary_rank_mgt
			INNER JOIN (
				SELECT user_id, MAX(user_generation)
				FROM blind.user_mgt
				WHERE company_id = #{companyId}
					AND logical_del_flag = '0'
				GROUP BY user_id
			) AS us USING(user_id)
		WHERE logical_del_flag = '0'
		<if test="jobGroupCode neq '00'">
			AND job_group_code = #{jobGroupCode}
		</if>
	</select>
</mapper>