<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksinfo.blind.manage.mapper.ManageNoticeMapper">
	<!--[메모] [주의]본 NoticeMapper는 관리자(Manager)만 대상으로 합니다. -->
	<!--[메모] [주의]유저용 NoticeMapper는 "com.ksinfo.blind.common.mapper.NoticeMapper"를 봐주십시오.  -->

	<!--메모 notice_blind_flag 0 : 전체(공지+비공지)출력 / 1:공지확정만 출력. / 2:비공지만 출력.-->
	<select id="getNoticeListForManager" parameterType="java.util.Map"
			resultType="com.ksinfo.blind.manage.vo.NoticeVO">
		SELECT
			nm.notice_id AS noticeId,
			nm.notice_title AS noticeTitle,
			ntm.notice_type_code AS noticeTypeCode,
			ntm.notice_type_name AS noticeTypeName,
			um.user_nickname AS userNickname,
			nm.notice_blind_flag AS noticeBlindFlag,
			nm.notice_contents AS noticeContents,
			nm.notice_website_url AS noticeWebsiteUrl,
			nm.post_file_id AS postFileId,
			nm.notice_create_date  AS noticeCreateDate,
			nm.notice_update_date AS noticeUpdateDate

		FROM blind.notice_mgt as nm

		LEFT Join blind.notice_type_mst as ntm
			ON nm.notice_type_code = ntm.notice_type_code

		LEFT Join blind.user_mgt as um
			ON nm.user_id = um.user_id

		WHERE nm.logical_del_flag = '0'
		<!--２．公知のタイプ -->
		<choose>
			<when test="selectedNoticeType neq '0' ">
				AND nm.notice_type_code = CAST('#{selectedNoticeType}' AS CHAR)
			</when>
			<otherwise>
				<!--公知のタイプ全部出力。 -->
			</otherwise>
		</choose>
		<!--３．公知の可否-->
		<choose>
			<when test="selectedNoticeBlindFlag eq '0' ">
				AND nm.notice_blind_flag = '0'
			</when>
			<when test="selectedNoticeBlindFlag eq '1' ">
				AND nm.notice_blind_flag = '1'
			</when>
		  	<otherwise>
				<!--메모 전체(공지&비공지)모두 출력. -->
			</otherwise>
		</choose>
		ORDER BY notice_id;
	</select>


	<!--메모 notice_blind_flag 0 : 전체(공지+비공지)출력 / 1:공지확정만 출력. / 2:비공지만 출력.-->
	<select id="getNoticeListForManagerSelectedColumn" parameterType="java.util.Map"
			resultType="com.ksinfo.blind.manage.vo.NoticeVO">
		SELECT
		nm.notice_id AS noticeId,
		nm.notice_title AS noticeTitle,
		ntm.notice_type_code AS noticeTypeCode,
		ntm.notice_type_name AS noticeTypeName,
		um.user_nickname AS userNickname,
		nm.notice_blind_flag AS noticeBlindFlag,
		nm.notice_contents AS noticeContents,
		nm.notice_website_url AS noticeWebsiteUrl,
		nm.post_file_id AS postFileId,
		nm.notice_create_date  AS noticeCreateDate,
		nm.notice_update_date AS noticeUpdateDate

		FROM blind.notice_mgt as nm

		LEFT Join blind.notice_type_mst as ntm
		ON nm.notice_type_code = ntm.notice_type_code

		LEFT Join blind.user_mgt as um
		ON nm.user_id = um.user_id

		WHERE nm.logical_del_flag = '0'
		<!--２．公知のタイプ -->
		<choose>
			<when test="selectedNoticeType neq '0' ">
				AND nm.notice_type_code = CAST(#{selectedNoticeType} AS CHAR)
			</when>
			<otherwise>
				<!--公知のタイプ全部出力。 -->
			</otherwise>
		</choose>
		<!--３．公知の可否-->
		<choose>
			<when test="selectedNoticeBlindFlag eq '0' ">
				AND nm.notice_blind_flag = '0'
			</when>
			<when test="selectedNoticeBlindFlag eq '1' ">
				AND nm.notice_blind_flag = '1'
			</when>
			<otherwise>
				<!--메모 전체(공지&비공지)모두 출력. -->
			</otherwise>
		</choose>
		ORDER BY notice_id;
	</select>

	<insert id="insertNewNotice" parameterType="java.util.Map">
		INSERT INTO blind.NOTICE_MGT(
    		user_id,         --BIGINT NOT NULL,
    		notice_title,         --CHARACTER VARYING(200) NOT NULL,
    		notice_type_code,         --CHARACTER(1) NOT NULL,
			notice_blind_flag,     --CHARACTER(1) NOT NULL,
   			notice_contents,     --TEXT NOT NULL,
    		notice_website_url,     --CHARACTER VARYING(2000),
    		post_file_id,         -- BIGINT,
    		notice_create_date,     --TIMESTAMP NOT NULL,
    		notice_update_date,     --TIMESTAMP NOT NULL,

			rec_create_user_id,     --BIGINT NOT NULL,
			rec_create_date,     --TIMESTAMP NOT NULL,
			rec_update_user_id,     --BIGINT NOT NULL,
			rec_update_date,     --TIMESTAMP NOT NULL,
			logical_del_flag     --CHARACTER(1) NOT NULL,
		)values(
			#{userId},		   		-- user_id,   			--BIGINT NOT NULL,
			#{sendNoticeTitle},		-- notice_title,        --CHARACTER VARYING(200) NOT NULL,
			#{sendNoticeTypeCode},	-- notice_type_code,    --CHARACTER(1) NOT NULL,
			#{sendNoticeBlindFlag},	-- notice_blind_flag,   --CHARACTER(1) NOT NULL,

			#{sendNoticeContents},	-- notice_contents,     --TEXT NOT NULL,
			'',			   			-- notice_website_url,  --CHARACTER VARYING(2000),
			0,			   			-- post_file_id,        -- BIGINT,
			now(),			  	 	-- notice_create_date,  --TIMESTAMP NOT NULL,
			now(),			   		-- notice_update_date,  --TIMESTAMP NOT NULL,

			#{userId},	   			-- rec_create_user_id,  --BIGINT NOT NULL,
			now(),		   			-- rec_create_date,     --TIMESTAMP NOT NULL,
			#{userId},	   			-- rec_update_user_id,  --BIGINT NOT NULL,
			now(),		   			-- rec_update_date,     --TIMESTAMP NOT NULL,
			'0'			   			-- logical_del_flag     --CHARACTER(1) NOT NULL,
			);
	</insert>

	<!--메모 현재의 수정은 원 작성자가 아니어도 수정이 가능한 상태입니다. -->
	<update id="updateOriginalNotice" parameterType="java.util.Map">
		UPDATE blind.NOTICE_MGT
		SET notice_title 		= CAST(#{sendNoticeTitle} AS varchar), 		-- notice_title,
			notice_type_code 	= CAST(#{sendNoticeTypeCode} AS CHAR),	-- notice_type_code,
			notice_blind_flag 	= CAST(#{sendNoticeBlindFlag} AS CHAR),	-- notice_blind_flag,
			notice_contents 	= CAST(#{sendNoticeContents} AS varchar),	-- notice_contents,
			notice_update_date 	= now(),								   	-- notice_update_date,
			rec_update_user_id 	= CAST(#{userId} AS DECIMAL)	 		   	-- BIGINT NOT NULL,
		WHERE notice_id = CAST(#{sendNoticeId} AS DECIMAL)
		  AND logical_del_flag = '0';
	</update>

</mapper>